# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Data folders
/data/
/output/

# Model files
*.h5
*.hdf5
*.pkl
*.joblib

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
